/*Setting the font to look like a mix of digital and typewriter*/
@font-face {
    font-family: gameFont;
    src: url(monaco.ttf);
}
/* 
Set the background to black
Set the main text color of the page to white
Center the game area in the viewport
*/
body {
    background-color: black;
    color: white;
    font-family: gameFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.title {
    font-size: 150%;
}
#modern-adventure-game {
    display: flex;
    flex-direction: column;
    max-width: 66%;
    align-items: center;
    background-color: rgb(250, 250, 250, 0.1);
    padding: 20px;
}
#info-text {
    color: lightgreen;
    margin-bottom: 25px;
    font-size: 40px;
    height: 40vh;
    overflow: auto;
}
#info-text::-webkit-scrollbar {
    width: 1vw;
}
#info-text::-webkit-scrollbar-thumb {
    background-color: #5A5A5A;
}
#info-text::-webkit-scrollbar-track {
    background-color: lightgray;
}
#input-area {
    background: lightgray;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
#input-text {
    border: none;
    outline: none;
    background: none;
    width: 80%;
}
#input-button {
    font-family: gameFont;
    font-size: 25px;
    border-radius: 5px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#anxiety {
    font-size: 36px;
}
#user-info {
    margin-top: 25px;
    width: 100%;
}
.inventory {
    margin-top: 10px;
}
/*
#inventory-list {

}
#inventory-item {

}
*/